
img {
    width: 30%;
    height: auto;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
a {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: blue;
    display: block;
    width: 25%;
    float: left;
    background-color: aliceblue;
    border: 1px solid black;
    text-align: center;
}
@media screen and (min-width: 0px) and (max-width:720px){

img {
        width: 100%;
        height: auto;
    }
}